:root {
    --color-0: rgba(255, 255, 255, 0.39);
    --color-1: rgba(184, 163, 241, 0.322);
    --color-2: rgba(231, 157, 225, 0.26);
}

@font-face {
    font-family: 'font1';
    src:url('fonts/Game_Of_Squids.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2';
    src:url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: font2;
    text-align: center;
    background-color: #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;  /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: none;
}

/*Background video*/
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/*Remove the scrollbar*/
::-webkit-scrollbar {
    display: none;
}

/*Loading Ui*/
.loader {
    display: flex;
    justify-content: center;
    margin-right:50px;
}

.bar {
    width: 7px;
    height: 18px;
    margin: 0 9px;
    border-radius: 10px;
    animation: loading_5192 1s ease-in-out infinite;
    background-color: rgb(255, 255, 255);
}

.bar:nth-child(1) {
    animation-delay: 0.01s;
}

.bar:nth-child(2) {
    animation-delay: 0.09s;
}

.bar:nth-child(3) {
    animation-delay: 0.19s;
}

.bar:nth-child(4) {
    animation-delay: 0.29s;
}

@keyframes loading_5192 {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.5);
    }

    40% {
        transform: scale(1);
    }
}


#sysLoader {
    position: relative;
    margin-top: 100px;
}

.sysInfomartion{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 1%;
    overflow: auto;
    flex-direction: column;
    width: 350px;

}

/*Clock*/

.clock-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 300px;
    height: 150px;
    font-family: font1;
    display: flex;
    color: #ff2d95;
    position: relative;
    flex-direction: column;
    cursor: default;
    background: none;
    transition: all 0.3s ease-in-out;
    margin-top: 5px;
    margin-right: 50px;
    align-items: center;
}

.clock i {
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 45px;
    animation: neonPulse 1.5s ease-in-out infinite;
}

.time-text {
    font-size: 50px;
    margin-top: 20px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.time-sub-text {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

.day-text {
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 0 5px #ffffff;
    margin-top: -45px;
}

@keyframes neonPulse {

    0%,
    100% {
        opacity: 1;
        text-shadow: 0 0 10px #bededf;
    }

    50% {
        opacity: 0.7;
        text-shadow: 0 0 20px #bededf;
    }
}

/*OS layer*/
.oslayer {
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.oslayer table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.oslayer tr {
    display: contents;
}

.oslayer .stats {
    text-align: left;
    font-size: 10px;
    color: #ffffff;
    padding: 8px;
    display: block;
    margin-bottom: 2px;
}

/*Chart for usage stats*/
.usage-stats {
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.chart-container {
    left: 0;
    width: 250px;
    height: 250px;
    margin-right: 65px;
    position: relative;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.116);
}

.stats-legend {
    position: absolute;
    right: 0;
    top: 5%;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
}

.stat-item {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.stat-color {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}

.stat-color-0 {
    background: var(--color-0);
}

.stat-color-1 {
    background: var(--color-1);
}

.stat-color-2 {
    background: var(--color-2);
}

.stat-color-3 {
    background: var(--color-3);
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}


.statslayer {
    padding-top: 10px;

}


/*Storage*/
.storage-layer{
    padding: 10px;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.storage-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
    width: 300px;
    overflow: none;
}

.drive-info {
    padding: 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.drive-info .storage-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #c360f12c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drive-info .storage-icon svg {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.459); 
}
.drive-info .info {
    flex-grow: 1;
    font-size: 9px;
}
.disk-free{
    margin-top: 5px;
}

.drive-info .progress-bar {
    height: 5px;
    width: 100%;
    background: #333;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
}

.drive-info .progress {
    height: 100%;
    width: 0%;
    background: #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease;
}



/*.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 1%;
    overflow: auto;
    flex-direction: column;
    width: 350px;
}*/

.process-Info {
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    width: 500px;
    background-color: transparent;
    height: 300px;
    border: #fdfdfde0 1px solid;
    overflow: auto; 
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rwd-table {
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    table-layout: fixed;
}
.rwd-table th:nth-child(1),
.rwd-table td:nth-child(1) {
    width: 50px;  /* PID column */
}

.rwd-table th:nth-child(2),
.rwd-table td:nth-child(2) {
    width: 150px;  /* Name column */
}

.rwd-table th:nth-child(3),
.rwd-table td:nth-child(3) {
    width: 60px;  /* Usage column */
}
.rwd-table th {
    padding: 8px;
}

.rwd-table td {
    padding: 6px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gpuChart-container{
    position: absolute;
    width: 300px;
    height: 150px;
    margin: 50px auto;
    padding: 20px;
    top: 70%;
    right: 10%;
    transform: translate(-50%, -50%);
}
  
.networkChart-container {
    position: absolute;
    width: 300px;
    height: 150px;
    margin: 50px auto;
    padding: 20px;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}
